/* Add CSS Styling */
.black,
.yellow {
    font-size: 28px;
    font-family: Helvetica, "Time News Roman", sans-serif;
}

.black{
    background-color: black;
    color: white;
}

.yellow {
    background-color: yellow;
}